.news-container{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.news-items{
    width: 90%;
    height: auto;
    overflow-y: scroll;
    background-color:rgb(199, 199, 199);
    margin: 20px auto;
    border-radius: 14px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#country{
    width:max-content;
    border: none;
    text-align: center;
    font-size: 2em;
    padding: 10px;
    margin: 10px auto;
    font-weight: bolder;
}
.loading{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}